<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'CHANGE_PASSWORD.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input 
        [type]="showOldPassword ? 'text' : 'password'"
        label="{{ 'CHANGE_PASSWORD.OLD_PASSWORD' | translate }}" 
        labelPlacement="stacked"
        formControlName="oldPassword">
      </ion-input>
      <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility('old')">
        <ion-icon [name]="showOldPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
      <p *ngIf="oldPassword?.errors?.['required']">{{ 'CHANGE_PASSWORD.ERRORS.OLD_PASSWORD_REQUIRED' | translate }}</p>
    </ion-text>

    <ion-item>
      <ion-input 
        [type]="showNewPassword ? 'text' : 'password'"
        label="{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}" 
        labelPlacement="stacked"
        formControlName="newPassword">
      </ion-input>
      <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility('new')">
        <ion-icon [name]="showNewPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
      <p *ngIf="newPassword?.errors?.['required']">{{ 'CHANGE_PASSWORD.ERRORS.NEW_PASSWORD_REQUIRED' | translate }}</p>
      <p *ngIf="newPassword?.errors?.['passwordStrength']">{{ 'CHANGE_PASSWORD.ERRORS.PASSWORD_STRENGTH' | translate }}</p>
    </ion-text>

    <ion-item>
      <ion-input 
        [type]="showConfirmPassword ? 'text' : 'password'"
        label="{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate }}" 
        labelPlacement="stacked"
        formControlName="confirmPassword">
      </ion-input>
      <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility('confirm')">
        <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="formGroup.errors?.['passwordsMismatch'] && confirmPassword?.touched">
      <p>{{ 'CHANGE_PASSWORD.ERRORS.PASSWORDS_MISMATCH' | translate }}</p>
    </ion-text>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!formGroup.valid">
        {{ 'CHANGE_PASSWORD.SUBMIT' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>